<div class="container-fluid">
<div class="jumbotron">
  <div class="row" id="header">
    <div class="col-md-12">
      <h1>Quotogram</h1>
    </div>
  </div>
</div>
<div id="new">
  <a href="#post"><button type="button" class="btn" name="button">Post a quote</button></a>
</div>

  <div *ngFor='let quote of quotes; let index = i' class="all">

    <div class="row" id="quoteinfo">
      <p>Posted by <strong>{{quote.name}}</strong> <span id="time">{{quote.postTime|dateCount}}</span></p>
    </div>

    <div>
      <app-quote-content [quote]='quote' (isComplete)='deleteQuote($event,i)'></app-quote-content>
    </div>

  </div>
  <div class="entry">
    <app-quote-form id="post" (addQuote)="addNewQuote($event)"></app-quote-form>
  </div>

</div>
