#header{
  text-align: center;
}
#new{
  padding-top: 1vh;
  text-align: center;
}
#time{
  font-weight: lighter;
  font-style: italic;
  padding-left: 1vh;
}
#quoteinfo{
  padding: 5px;
}
.all{
  padding-left: 10px;
  padding-top: 7vh;
  padding-bottom: 10px;
  font-size: 18px;
}
.entry{
  padding-top: 5vh;
  text-align: center;
}
.container-fluid{
  background-image: url('/assets/bg3.jpg');
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  color:white;
}
.jumbotron{
  color:rgb(0, 0, 0);
  background-color: rgba(255, 255, 255, 0.2);
}
