#header{
  text-align: center;
}
#new{
  padding-top: 1vh;
  text-align: center;
}
#time{
  font-weight: lighter;
  font-style: italic;
  padding-left: 1vh;
}
#quoteinfo{
  padding: 5px;
}
.all{
  padding-left: 10px;
  padding-top: 7vh;
  padding-bottom: 10px;
  font-size: 18px;
}
.entry{
  padding-top: 5vh;
  text-align: center;
}
